package pages

import (
    "github.com/Canudo319/go-file-system/src/templates/layouts"
)

templ Hello(name string) {
    @layouts.NewDefaultLayout(layouts.DefaultLayoutProps{
        Title: name,
        Number: 12,
    }){
        <div class="px-2 py-4 bg-amber-500 font-bold text-xl">{ name }</div>
    }
}